In [1]:
import pandas as pd
import numpy as np

1. wykonać pomiary charakterystyk prądowo-napięciowych

intensywność światła $1064 W/m^2$ 

zakres charakterystyki $<-0.1 , 0.9> V$ 

pomiary $15 - 75$ co $ 10^o C$, wszystkie w pliku `temp/`

In [3]:
U = pd.DataFrame({
    'U': np.arange(-1,1,0.1)
})
U

               U
0  -1.000000e+00
1  -9.000000e-01
2  -8.000000e-01
3  -7.000000e-01
4  -6.000000e-01
5  -5.000000e-01
6  -4.000000e-01
7  -3.000000e-01
8  -2.000000e-01
9  -1.000000e-01
10 -2.220446e-16
11  1.000000e-01
12  2.000000e-01
13  3.000000e-01
14  4.000000e-01
15  5.000000e-01
16  6.000000e-01
17  7.000000e-01
18  8.000000e-01
19  9.000000e-01

In [4]:
I_temp = pd.DataFrame({
    "5C": [
    ],
    "15C": [
    ],
    "25C": [
    ],
    "35C": [
    ],
    "45C": [
    ],
    "55C": [
    ],
    "65C": [
    ],
    "75C": [
    ],
    "85C": [
    ],
})
I_temp

Empty DataFrame
Columns: [5C, 15C, 25C, 35C, 45C, 55C, 65C, 75C, 85C]
Index: []

2. Wyznaczyć parametry:

Short Circuit Current:

$I_{sc} = ? $

Open Circuit Voltage:

$V_{oc} = \dfrac{A k_B T}{e} \ln{\left( \dfrac{I_{sc}}{I_o} + 1 \right)} \approx \dfrac{A k_B T}{e} \ln{ \dfrac{I_{sc}}{I_o} }$


Współczynnik wypełnienia:

$FF = \dfrac{I_{mp} V_{mp}}{I_{sc} V_{sc}}$

Wydajność:

$\eta = \dfrac{I_{mp} V_{mp}}{P_{in}}$

$I_{mp}$ , $U_{mp}$ - maximum power current and voltage, respectively

$P_{in}$ - moc promieniowania padająca na ogniwo

3. Dla temp 25^o C wykonać serię charakterystyk dla różnych natężeń światła, aby prąd zwarcia zmniejszał się o czynnik 2

$\{0,125,250,500,1000\}$, saved in `light/`

In [ ]:
I_light = pd.DataFrame({
    
})

4. Obliczyć wydajność ogniwa dla różnych natężeń światła, zakładając
proporcjonalność między Isc a natężeniem światła. Wyciągnąć wnioski dotyczące
działania ogniwa przy słabszym oświetleniu.


5. Porównać ciemną charakterystykę z jasnymi i wyciągnąć wnioski dotyczące
„zasady superpozycji” dla badanego ogniwa.

# Część 2

1. Zmierzyć fotoprąd wytwarzany w ogniwie w funkcji długości fali w zakresie 4000-
1200 nm. Wartości długości fali dobrać tak, aby punkty pomiarowe były równomiernie
i wystarczająco gęsto (nie rzadziej niż co 0,05 eV) rozłożone w skali energii.

In [ ]:
I_photo= pd.DataFrame({
    
})

2. Wykorzystując plik photon flux zawierający rozkład spektralny światła padającego
na próbkę, wykonać wykres rozkładu fotoprądu w funkcji energii padających fotonów
znormalizowany na jeden padający foton (ponieważ nie znamy dokładnej liczby
fotonów padających na strukturę, możemy jedynie określić ten rozkład w jednostkach
dowolnych)

3. Wyznaczyć wartość przerwy energetycznej absorbera posługując się metodą „w
połowie krawędzi”.

4. Wyznaczyć energię odpowiadającą wysokoenergetycznej krawędzi rozkładu. Czemu
on odpowiada?

5. Porównać wartość Voc(T) dla T->0 z wartością przerwy energetycznej otrzymaną
z ekstrapolacji zależności Voc(T) do 0oK, wyciągnąć wnioski.